body {
    font-family:'Courier New', Courier, monospace;
    
}

#intro-card {
    border-radius: 10px;
}

#intro-card:hover {
    transform: scale(1.05);
}


* {
    width: 100%;
    text-align: center;
}

#library-title-div {
    justify-content: center;
    text-align: center;
    /* height: 100px; */
    /* padding: 5%; */
}

li {
    padding: 2%;
}


@keyframes rainbow {
14%    {color: red;}
28%    {color: orange;}
42%    {color: yellow;}
56%    {color: green;}
70%    {color: blue;}
84%    {color: purple;}
96%    {color: pink;}
100%   {color: white;}
}
#library-title:hover {
    animation-name: rainbow;
    animation-duration: 2s;
}

#link-list {
    list-style: none;
}

#link-list-div {
    padding: 7%;
}

#library {
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    gap: 1vh;
    flex-direction: column;
}

img {
    height: 40px;
    width: 40px;
}
a {
    color: black;
}
h3 {
    margin: 0; /* Removes bottom margin on button words -> finally centered */
}


.app-primary-btn { /* Button properties */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
    height: 40px;
    /* margin: 1vh; */
}


.app { /* The entire app will be 90% of the viewport --> changeable */
    display: flex;
    min-height: 250px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: larger;
    padding: 10px; 
    margin: 10px;
}

.app-main {
    justify-content: center;
}

.mini-app {
    min-height: 100px;
}

.app-primary-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app:hover {
    transform: scale(1.05);
}





