#stopwatch-btns-div {
    display: flex;
    gap: 5%; /* Leaves space between items */
}

#stopwatch-display {
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* font-size: 400%; */
    font-size: 8vw;
}

